
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0%;
  }

    #Main {
    position: relative;
    color: #f1f1f1;
    font-size: 50px;
    text-align: center;
    margin: 0%;
  }

    #a {
    font-size: 50px;
  }

  #sub {
    position: relative;
    color: white;
    font-size: 12px;
    text-align: center;
  }
  body {
    margin: 0%;
  }
  #subM, #subS {
    margin-left: 10%;
    margin-right: 10%;
  }
